// English font


// Arabic font 

@font-face {
  font-family: 'PF Din Text Universal';
  src: url('../../font/alfont_com_AlFont_com_18630-pfdintextuniversal-thin.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'PF Din Text Universal';
  src: url('../../font/alfont_com_AlFont_com_18632-pfdintextuniversal-regular-1.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'PF Din Text Universal';
  src: url('../../font/alfont_com_AlFont_com_18633-pfdintextuniversal-medium-1.otf');
  font-weight: 600;
}
@font-face {
  font-family: 'PF Din Text Universal';
  src: url('../../font/alfont_com_AlFont_com_18634-pfdintextuniversal-bold-1.otf');
  font-weight: 700;
}
@font-face {
  font-family: 'PF Din Text Universal';
  src: url('../../font/alfont_com_AlFont_com_18635-pfdintextuniversal-xblack.otf');
  font-weight: 800;
}

